*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}
.section{
    background-color: aquamarine;
    height: 500px;
}
.left{
    display: inline-block;
    width: 50%;
    background-color: darkgoldenrod;
    vertical-align: top;

}
.left h1{
    font-size: 100px;
}
.right{
    display: inline-block;
    width: 48%;
   /* background-color: red; */
}
.right img{
    width: 100px;
    height: 500px;
    object-fit: cover;
    object-position: top;

}
.image img{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    object-fit: cover;
}
.image .two{
    margin-left: -20px;
}
.image .three{
    margin-left: -20px;
}