body {
    font-family: Arial, sans-serif;
    background-color: #141414;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #333;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

img {
    width: 150px;
    margin-bottom: 20px;
}

form {
    text-align: center;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    color: #fff;
}

button {
    background-color: #e50914;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

a {
    color: #fff;
    text-decoration: none;
}

.signup {
    text-align: center;
    margin-top: 20px;
}
